################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/~$sko_Kyrylo_FB61.docx
*.suo
